<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ImaginAI- DALL·E Inspired Image Generator</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
  
<body>
  <div class="background-container"></div>
  <nav class="navbar">
    <ul>
      <li>
        <a href="https://peerlist.io/ananya19" target="_blank"><img alt="Peerlist" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" src="https://dqy38fnwh4fqs.cloudfront.net/website/peerlist-favicon.png" style="color: transparent;">
        </a>
      </li>
      <li>
        <a class="AppHeader-logo ml-2" href="https://github.com/ananya-gta/imgaginai" data-hotkey="g d" aria-label="Homepage " data-turbo="false" data-analytics-event="{&quot;category&quot;:&quot;Header&quot;,&quot;action&quot;:&quot;go to dashboard&quot;,&quot;label&quot;:&quot;icon:logo&quot;}">
          <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
              <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <h1>ImaginAI</h1>
    <p>Your words, Our canvas</p>
    <input id="description" placeholder="Tell us what you see in your mind..."></input>
    <button type="submit" id="submitbtn">Surprise Me</button>
    <div class="svg-container">
      <svg id="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: none;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <defs>
          <clipPath id="ldio-zov3go17n5a-cp" x="0" y="0" width="100" height="100">
            <path d="M81.3,58.7H18.7c-4.8,0-8.7-3.9-8.7-8.7v0c0-4.8,3.9-8.7,8.7-8.7h62.7c4.8,0,8.7,3.9,8.7,8.7v0C90,54.8,86.1,58.7,81.3,58.7z"></path>
          </clipPath>
        </defs>
        <path fill="none" stroke="#575757" stroke-width="2.7928" d="M82 63H18c-7.2,0-13-5.8-13-13v0c0-7.2,5.8-13,13-13h64c7.2,0,13,5.8,13,13v0C95,57.2,89.2,63,82,63z"></path>
        <g clip-path="url(#ldio-zov3go17n5a-cp)">
          <g>
            <rect x="-100" y="0" width="25" height="100" fill="#e15b64"></rect>
            <rect x="-75" y="0" width="25" height="100" fill="#f47e60"></rect>
            <rect x="-50" y="0" width="25" height="100" fill="#f8b26a"></rect>
            <rect x="-25" y="0" width="25" height="100" fill="#abbd81"></rect>
            <rect x="0" y="0" width="25" height="100" fill="#e15b64"></rect>
            <rect x="25" y="0" width="25" height="100" fill="#f47e60"></rect>
            <rect x="50" y="0" width="25" height="100" fill="#f8b26a"></rect>
            <rect x="75" y="0" width="25" height="100" fill="#abbd81"></rect>
            <animateTransform attributeName="transform" type="translate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0;100"></animateTransform>
          </g>
        </g>
      </svg>
    </div>
    <div class="image-container">
      <!--- Generated images will be displayed here --->
    </div>
  </div>
<script src="static/js/script.js"></script>
</body>
  
</html>
